<!DOCTYPE html>
<html>
<head>
    <title>Template Matching Web App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Template Matching Web App</h1>

<div class="upload-section">
    <input type="file" id="imageInput" accept="image/*">
    <button onclick="uploadImage()">Run Template Matching</button>
</div>

<div class="images">
    <div>
        <h3>Original</h3>
        <img id="originalImage" class="img-box">
    </div>

    <div>
        <h3>Blurred Output</h3>
        <img id="outputImage" class="img-box">
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
